.logo {
    font-family: var(--secondary-font-title);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: #2196F3;
    margin-right: 93px;

    &_text-black {
        color: black;
    }
    
    &_text-white {
        color: white;
    }
}
