:root {
    --primary-color: #212121;
    --secondary-color: #757575;
    --white-color: #fff;
    --focus-hover-color: #2196F3;
    --background-color: #2F303A;
    --button-grey: #F5F4FA;
    --accent-color: #2196f3;
    --secondary-font-title: 'Raleway', sans-serif;
    --primary-font-title: 'Roboto', sans-serif;
    --secondary-background-color: #f5f4fa;
    --header-footer-background-color: #2f303a;
    --grey-icons-AFB1B8: #AFB1B8;
}
